# Maven target folder
/target/

# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear

# Eclipse IDE
.project
.classpath
.settings/

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.swp
*~

# TornadoVM config (copy from $TORNADO_SDK/bin/tornado-argfile)
tornado-argfile

